{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        {{#get "tags" limit="all" filter="name:-[arts, business, life, pictures, campus, opinion, politics, technology, sports]}}
                <ul class="tags">
                    {{#foreach tags}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
        {{/get}}
    </div>
</main>
