{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        {{#get "tags" limit="all"}}
            <div class='experiment'>{{tags}}</div>
        {{/get}}

    </div>
</main>
