{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        {{#get "tags" limit="all" filter="name:-[arts, business, campus%20life, news%20in%20pictures, off%20campus, opinion, politics, science%20and-%20technology, sports]"}}
                <ul class="tags">
                    {{#foreach tags}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
        {{/get}}
    </div>
</main>
