{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        {{#get "tags" limit="all"}}
            {{!-- {{#is_issue tags}} --}}
                <ul class="tags">
                    {{#foreach tags}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{!-- {{/is_issue}} --}}
        {{/get}}
    </div>
</main>
